<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          gh
          {% endif %}

          {% if site.twitter_username %}
          tw
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>


<!-- build:js(app) /js/scripts.js -->
<script src="/js/main.js"></script>
<!-- endbuild -->
