<nav id="menu">
  <ul>

    <li><a href="/atoms">ATOMS</a>
      <ul>
        {% for atom in site.data.atoms %}
        <li>
          <a href="/atoms/{{ atom.name }}">{{ atom.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </li>

    <li><a href="/molecules">MOLECULES</a>
      <ul>
        {% for molecule in site.data.molecules %}
        <li>
          <a href="/molecules/{{ molecule.name }}">{{ molecule.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </li>

    <li><a href="/templates">TEMPLATES</a>
      <ul>
        {% for template in site.data.templates %}
        <li>
          <a href="/templates/{{ template.name }}">{{ template.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </li>

    <li><a href="/pages">PAGES</a>
      <ul>
        {% for page in site.data.pages %}
        <li>
          <a href="/pages/{{ page.name }}">{{ page.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </li>

    <li>OTHER</li>
  </ul>
</nav>
