<nav id="menu">
  <ul>
    {% assign sorted_collections = (site.collections | sort: 'weight') %}
    {% for collection in sorted_collections %}
      {% if collection.name %}
        <li><a href="/{{ collection.name }}">{{ collection.name | upcase }}</a>
          <ul>
            {% for pattern in site.[collection.name] %}
            <li>
              <a href="{{ pattern.url }}">{{ pattern.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
